<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dzm.wamr.recover.deleted.messages.photo.media">

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
    </queries>

    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE"
        tools:node="remove" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.REQUEST_COMPANION_RUN_IN_BACKGROUND" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <queries>
        <package android:name="com.whatsapp" />
    </queries>

    <application
        android:name="dzm.wamr.recover.deleted.messages.photo.media.util.MyApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestForegroundServiceExemption="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="s">
        <activity
            android:name=".activities.ShowMeidaA"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.EmojiCategoryA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AsciiCategoryA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllGifA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.EmojiA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.LanguageA"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.PremiumNewA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PremiumProA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AsciiFacesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MediaPreviewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.SavedStatusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AudioPlayerA"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TextRepeater"
            android:exported="false"
            android:label="Text Repeater"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activities.PreviewActivity"
            android:exported="false"
            android:label="Preview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VideoPreviewActivity"
            android:exported="false"
            android:label="Preview"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.DirectChat"
            android:exported="false"
            android:label="Direct Chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.FolderPermissionClass"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.WelcomeActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.AllChat"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.SplashA"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppSplashTheme"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.TermOfUseActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VideoPlayerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <service
            android:name="dzm.wamr.recover.deleted.messages.photo.media.firebase.NotificationListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name="dzm.wamr.recover.deleted.messages.photo.media.FileObserve.mReceiver"
            android:exported="true"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.MEDIA_SCANNER_SCAN_FILE" />

                <data android:scheme="file" />
            </intent-filter>
        </receiver>
        <receiver android:name="dzm.wamr.recover.deleted.messages.photo.media.FileObserve.DeleteFileReceiver" />
    </application>

</manifest>